@keyframes gradientSize {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes moveLine {
  0% {
    left: 0;
    opacity: 0;
  }
  9% {
    left: 0;
    opacity: 0;
  }
  10% {
    left: 15%;
    opacity: 0.25;
  }
  15% {
    left: 20%;
    opacity: 0.1;
  }
  20% {
    left: 10%;
    opacity: 0.2;
  }
  25% {
    left: 25%;
    opacity: 0.2;
  }
  30% {
    left: 30%;
    opacity: 0.3;
  }
  40% {
    left: 20%;
    opacity: 0.2;
  }
  50% {
    left: 30%;
    opacity: 0.1;
  }
  60% {
    left: 20%;
    opacity: 0.2;
  }
  70% {
    left: 0%;
    opacity: 0.2;
  }
  80% {
    left: 10%;
    opacity: 0.2;
  }
  90% {
    left: 30%;
    opacity: 0.3;
  }
  100% {
    left: 10%;
    opacity: 0.1;
  }
}
@keyframes bgMove {
  0% {
    background-position: 0px center;
  }
  5% {
    background-position: 0 center;
  }
  10% {
    background-position: 0 -2px;
  }
  15% {
    background-position: 0 center;
  }
  30% {
    background-position: 0px center;
  }
  37% {
    background-position: 0 -2px;
  }
  40% {
    background-position: 0px center;
  }
  45% {
    background-position: 0 2px;
  }
  50% {
    background-position: 0px center;
  }
  62% {
    background-position: 0px center;
  }
  65% {
    background-position: 0 -2px;
  }
  67% {
    background-position: 0px center;
  }
  78% {
    background-position: 0px center;
  }
  80% {
    background-position: 0 2px;
  }
  85% {
    background-position: 0 center;
  }
  87% {
    background-position: 0 center;
  }
  89% {
    background-position: 0 -2px;
  }
  91% {
    background-position: 0 center;
  }
  100% {
    background-position: 0px center;
  }
}

#container {
  width: 100%;
  height: 100%;
  position: fixed;
}
#container:before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: gradientSize;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -moz-box-shadow: inset 0 0 10em black;
  -webkit-box-shadow: inset 0 0 10em black;
  box-shadow: inset 0 0 10em black;
}
#container:after {
  width: 1px;
  height: 100%;
  background: black;
  content: " ";
  display: block;
  position: fixed;
  animation-name: moveLine;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#rotateDevice {
  text-align: left;
  user-select: none;
  font-family: "Cuphead",serif;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url("../img/devilLaugh.7257975.png") bottom/auto 70% no-repeat;
  background-color: #000;
  z-index: 2;
  overflow: hidden;
  visibility: hidden;
}

.message{
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-top: 24px;
    color: #f9f7eb;
    text-align: center;
    font-size: 36px;
}
#fireBar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
    display: flex;
    transition: transform 3s linear,visibility 3s;
    transform: translateY(110%);
}

#fireBar.onFire{
    transform: translateY(1%);
}

#fireBar.fast{
    transition: transform 1s ease-out,visibility 1s;

}

.unit1 {
  width: 37%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: url("../img/fire.41d58d5.png") top/auto 598px;
  background-repeat: repeat-x;
}

.unit2{
    width: 37%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: url("../img/fire.41d58d5.png") top/auto 598px;
    background-repeat: repeat-x;
    left: 31%;
    transform: scaleX(-1);
    background-position-y: -200px;
}

.unit3{
    width: 37%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: url("../img/fire.41d58d5.png") top/auto 598px;
    background-repeat: repeat-x;
    right: -2%;
    background-position-y: -200px;
}

@font-face {
    font-family: "CupheadVogue";
    src: url("../fonts/CupheadVogue-ExtraBold.cbf05a8.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cuphead";
    src: url("../fonts/Cuphead-Primary.fafe327.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "CupheadVogue-Bold";
    src: url("../fonts/CupheadVogue-Bold.ead4795.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Titania";
    src: url("../fonts/Titania-Regular.e828a11.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "YellowtailRegular";
    src: url("../fonts/YellowtailRegular.52d2557.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@media (max-width:870px) {
    #rotateDevice{
        visibility: visible;
        z-index: 99999;
    }
    #introLoadingPage{
        visibility: hidden;
    }
}