@keyframes gradientSize {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes moveLine {
  0% {
    left: 0;
    opacity: 0;
  }
  9% {
    left: 0;
    opacity: 0;
  }
  10% {
    left: 15%;
    opacity: 0.25;
  }
  15% {
    left: 20%;
    opacity: 0.1;
  }
  20% {
    left: 10%;
    opacity: 0.2;
  }
  25% {
    left: 25%;
    opacity: 0.2;
  }
  30% {
    left: 30%;
    opacity: 0.3;
  }
  40% {
    left: 20%;
    opacity: 0.2;
  }
  50% {
    left: 30%;
    opacity: 0.1;
  }
  60% {
    left: 20%;
    opacity: 0.2;
  }
  70% {
    left: 0%;
    opacity: 0.2;
  }
  80% {
    left: 10%;
    opacity: 0.2;
  }
  90% {
    left: 30%;
    opacity: 0.3;
  }
  100% {
    left: 10%;
    opacity: 0.1;
  }
}
@keyframes bgMove {
  0% {
    background-position: 0px center;
  }
  5% {
    background-position: 0 center;
  }
  10% {
    background-position: 0 -2px;
  }
  15% {
    background-position: 0 center;
  }
  30% {
    background-position: 0px center;
  }
  37% {
    background-position: 0 -2px;
  }
  40% {
    background-position: 0px center;
  }
  45% {
    background-position: 0 2px;
  }
  50% {
    background-position: 0px center;
  }
  62% {
    background-position: 0px center;
  }
  65% {
    background-position: 0 -2px;
  }
  67% {
    background-position: 0px center;
  }
  78% {
    background-position: 0px center;
  }
  80% {
    background-position: 0 2px;
  }
  85% {
    background-position: 0 center;
  }
  87% {
    background-position: 0 center;
  }
  89% {
    background-position: 0 -2px;
  }
  91% {
    background-position: 0 center;
  }
  100% {
    background-position: 0px center;
  }
}

#container {
  width: 100%;
  height: 100%;
  margin-top: -10px;
  margin-left: -10px;
  position: fixed;
}
#container:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: gradientSize;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -moz-box-shadow: inset 0 0 10em black;
  -webkit-box-shadow: inset 0 0 10em black;
  box-shadow: inset 0 0 10em black;
}
#container:after {
  width: 1px;
  height: 100%;
  background: black;
  content: " ";
  display: block;
  position: absolute;
  animation-name: moveLine;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}