body{
   background-color: #3e3b2a;
}
#introLoadingPage{
    text-align: left;
    cursor: url("/static/img/default.7ee8dab.png") 2 6,default;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15vh 0;
}
.Logo{
    background: url('../img/logoMain.a263c77.png') 50%/contain no-repeat;
    width: 343px;
    height: 240px;
}

.loadCounter{
    position: relative;
    width: 275px;
    height: 120px;
    padding: 36px 23px 43px;
    filter: grayscale(1);
    transform: scale(.8);
}
.counterFrame{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/static/img/soulCounter.2c16a68.png') 50%/100% auto no-repeat;
}
.drums{
    overflow: hidden;
}
.soulCounterDrum{
    -webkit-tap-highlight-color: rgba(62,59,42,0);
    line-height: 1.5;
    color: #3e3b2a;
    text-align: left;
    text-transform: uppercase;
    width: 10%;
    height: 100%;
    float: left;
    user-select: none;
    position: relative;
    transform: translate(0px, 0%);
}
.unitValue{
    text-align: center;
    height: 100%;
    line-height: 1.7em;
    font-size: 1.5rem;
}
.handyButton{
    width: 15%;
    cursor: url("/static/img/pointer.ac1efb5.png") 2 2,pointer;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    padding: 0 15px;
    height: 40px;
    border: 1px solid #3e3b2a;
    background: #f9f7eb;
    color: #3e3b2a;
    letter-spacing: .04em;
    /*text-align: center;*/
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

.hand{
    margin-left: 80%;
    width: 30px;
    height: 90%;
    display: inline-block;
    vertical-align: top;
    background: url("/static/img/fingerPoint.f7ceaca.png") 50%/100% auto no-repeat;
    transition: transform .1s ease-out .1s;
    pointer-events: none;
}
.audioText{

    text-align: center;
    color: #fff;
    font-family: sans-serif;
    width: 150px;
    font-size: 10px;
}
.speakerSVG{
    color: #fff;
    font-size: 10px;
    overflow: hidden;
    width: 100%;
    height: 16px;
    margin: 20px 0 10px;
}
.speakerPath{
    d: path("M 1 6 L 4 6 L 10 1 L 10 19 L 4 14 L 1 14 Z M 14 5 L 14 15 M 18 2 L 18 18");
    transform: translate(0.5, 0.5);
    box-sizing: border-box;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linecap: round;
}
.audioText span{
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    box-sizing: border-box;
}

@font-face {
    font-family: "CupheadVogue";
    src: url("../fonts/CupheadVogue-ExtraBold.cbf05a8.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}


a {
    cursor: url("/static/img/pointer.ac1efb5.png") 2 2,pointer;
  font-family: "CupheadVogue", sans-serif;
  font-weight: 900;
  color: #3e3b2a;
  text-decoration: none;
}

.centered {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-button {
  background: #f9f7eb;
  padding: 20px;
  width: 57%;
  text-align: center;
}
.h-button span {
  display: inline-block;
  min-width: 0.3em;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.15s;
}