body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url("/static/img/default.7ee8dab.png") 2 6,default;
}

.bgimg {
    border: 0;
    padding: 0;
    background-image: url('../img/backgroundHome.b28a8b2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: 100% 100%;
    z-index: -1;
}


.logoimg {
    width: 3vw;
    height: 3vw;
    display: inline;
}

.litimg {
    padding-left: 25vw;
    position: relative;
}

.cuphead {
    padding-left: 20vw;
}

.secondline {
    display: inline;
}


.litimg_p {
    position: absolute;
    top: -6%;
    left: 28%;
    font-weight: bolder;
    font-size: 2.1vw;
}

.bubble {
    position: absolute;
    left: 54%;
    top: 40%;
    font-weight: bold;
    font-size: 1.5vw;
}

/*.plocation {*/
/*    position: absolute;*/
/*    top: 86%;*/
/*}*/

.bottomvar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*.modalcontainer {*/

/*}*/


/*modal*/


/*.tutorialCloud {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background: url(../img/bubbleThought3.656c95f.png);*/
/*transform: translateY(-100%) scale(1);*/
/*pointer-events: auto*/
/*}*/

/*#tutorialCloud .closeBtn {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 10px*/
/*}*/

/*@media (min-width: 744px) {*/
/*    #tutorialBox .stepTitle {*/
/*        font-size: 3.4em*/
/*    }*/

/*    #tutorialBox .stepImageBox {*/
/*        padding-top: 45%*/
/*    }*/

/*    #tutorialCloud {*/
/*        left: 50%;*/
/*        margin-left: -416px;*/
/*        width: 833px;*/
/*        height: 500px;*/
/*        background-size: 100% auto;*/
/*        transform: translateY(-100%) scale(.5)*/
/*    }*/

/*    #tutorialCloud .closeBtn {*/
/*        top: 20px;*/
/*        left: 40px*/
/*    }*/
/*}*/

/*groom 두둥실*/

.groom {
    animation: cloudFloat 2s ease-in-out infinite alternate;
}

@-webkit-keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

@keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

#bottomEarth {
    position: absolute;
    bottom: -2%;
    width: 100%;
    height: 10%;
    background: url(../img/earth.ae89ec7.png);
    pointer-events: none;
    z-index: 0;
}

@media (min-width: 600px){
#bottomEarth {
    background-size: 30% 100%;
}
}

@font-face {
    font-family: "CupheadVogue";
    src: url("../fonts/CupheadVogue-ExtraBold.cbf05a8.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}


p {
    cursor: url("/static/img/pointer.ac1efb5.png") 2 2,pointer;
  font-family: "CupheadVogue", sans-serif;
  font-weight: 900;
  color: #3e3b2a;
  text-decoration: none;
}