body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bgimg {
    border: 0;
    padding: 0;
    background-image: url('../img/backgroundHome.b28a8b2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.logoimg {
    width: 3vw;
    height: 3vw;
    display: inline;
}

.litimg {
    padding-left: 25vw;
    position: relative;
}

.cuphead {
    padding-left: 20vw;
}

.secondline {
    display: inline;
}

/*.thirdline {*/
/*    position: relative;*/
/*}*/

.litimg_p {
    position: absolute;
    top: -18%;
    left: 28%;
    font-weight: bolder;
    font-size: 3vw;
}

.bubble {
    position: absolute;
    left: 54%;
    top: 40%;
    font-weight: bold;
    font-size: 1.5vw;
}

/*.plocation {*/
/*    position: absolute;*/
/*    top: 86%;*/
/*}*/

.bottomvar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*.modalcontainer {*/

/*}*/


/*modal*/



/*.tutorialCloud {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background: url(../img/bubbleThought3.656c95f.png);*/
    /*transform: translateY(-100%) scale(1);*/
    /*pointer-events: auto*/
/*}*/

/*#tutorialCloud .closeBtn {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 10px*/
/*}*/

/*@media (min-width: 744px) {*/
/*    #tutorialBox .stepTitle {*/
/*        font-size: 3.4em*/
/*    }*/

/*    #tutorialBox .stepImageBox {*/
/*        padding-top: 45%*/
/*    }*/

/*    #tutorialCloud {*/
/*        left: 50%;*/
/*        margin-left: -416px;*/
/*        width: 833px;*/
/*        height: 500px;*/
/*        background-size: 100% auto;*/
/*        transform: translateY(-100%) scale(.5)*/
/*    }*/

/*    #tutorialCloud .closeBtn {*/
/*        top: 20px;*/
/*        left: 40px*/
/*    }*/
/*}*/