@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

html {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    cursor: url("/static/img/default.7ee8dab.png") 2 6,default;
}

body {
    font-family: "Lato", sans-serif;
}

p {
    cursor: url("/static/img/pointer.ac1efb5.png") 2 2,pointer;
    font-family: "CupheadVogue", sans-serif;
    font-weight: 900;
    color: #3e3b2a;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 80px;
}

.button {
    /*margin-left: 0 3%;*/
    margin: 0 3%;
    width: 2rem;
    cursor: url("/static/img/pointer.ac1efb5.png") 2 2,pointer;
}

.button:active {
    cursor: url(../img/press.1c07fcb.png) 2 2,pointer; !important;
}

.button--inactive {
    opacity: 0.2;
}

.button img {
    width: 60%;
}

.button:active {
    cursor: url(../img/press.1c07fcb.png) 2 2,pointer; !important;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box {
/*     margin: -1.5rem; */
    width: 12rem;
    height: 20rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* transition: 1s all; */
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
  left: -5%;
}

.box:nth-child(4) {
  left: 5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
  left: 15%;
}

.box:nth-child(5) {
  left: -15%;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.3s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.3s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.3s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.3s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.3s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.3s ease-in-out;
}


.move-to-position1-from-left{
    animation: moveToP1Left 0.3s ease-in-out;
}

.move-to-position5-from-right{
    animation: moveToP5Right 0.3s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.3s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.3s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.3s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.3s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}












html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(62, 59, 42, 0)
    }


 body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3e3b2a;
        text-align: left;
        /*background-color: #fff*/
    }

     button {
        border-radius: 0
    }

    button:focus:not(.focus-visible), button:focus:not(:focus-visible) {
        outline: 0
    }

    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    button, input {
        overflow: visible
    }

    button, select {
        text-transform: none
    }

        [role=button] {
        cursor: url(../img/pointer.ac1efb5.png) 2 2, pointer
    }

    [role=button]:hover:active {
        cursor: url(../img/press.1c07fcb.png) 2 2, pointer
    }

        [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: button
    }

            [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: url(../img/pointer.ac1efb5.png) 2 2, pointer
    }

    [type=button]:not(:disabled):hover:active, [type=reset]:not(:disabled):hover:active, [type=submit]:not(:disabled):hover:active, button:not(:disabled):hover:active {
        cursor: url(../img/press.1c07fcb.png) 2 2, pointer
    }

    [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
        padding: 0;
        border-style: none
    }

    #backdrop #backImageCarousel {
        background: url(../img/backgroundCarnival.4672858.jpg) 0 0 no-repeat;
        background-size: auto 100%
    }


element.style {
    background-position: 0% 0%;
}
@media (min-aspect-ratio: 1100 / 653){
    #backdrop #backImageCarousel {
    background-size: 100% auto;
}
}

#backdrop, #backdrop #backImageCarousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

#backdrop #backImageMenu {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 0;
    height: calc(100% - 50px);
    background-size: cover;
    background: #3e3b2a url(../img/backgroundHome.b28a8b2.jpg) no-repeat bottom;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logoimg {
    width: 3vw;
    height: 3vw;
    display: inline;
}

.litimg {
    padding-left: 25vw;
    position: relative;
}

#bottomEarth {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: url(../img/earth.ae89ec7.png);
    pointer-events: none;
}

@media (min-width: 600px){
#bottomEarth {
    background-size: 30% 100%;
}
}


.chapterCard {
    width: 262px;
    height: 345px;
    /* position: absolute; */
    top: 0;
    left: 51%;
    margin-left: 0px;
    padding: 6vw;
    background: url(../img/chapterCard.5183c6b.png) 50%/contain no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .chapterCard .chapterDone {
        width: 52px;
        height: 55px;
        /*position: absolute;*/
        top: 20px;
        right: 15px;
        /*/_nuxt/img/chapterDone.09b845b.png*/
        background: url(../img/chapterCard.5183c6b.png) 50%/100% auto no-repeat
    }

    .chapterCard .chapterNumber {
        width: 100%;
        height: 45px;
        padding-top: 15px;
        margin-top: 5%;
        font-size: 1.5em;
        text-align: center;
        background: url(../img/taskListChapter.e76bb33.png) 50%/auto 100% no-repeat;
        color: #3e3b2a
    }

.card-img {
    position: relative;
    height: 150px;
    top: 90px;
}

.openBannerOuter {
    position: absolute;
    top: 80%;
    left: 39%;
    width: 22vw;
    height: 10%;
    transition: transform .3s ease-out;
}

.openBanner {
    width: 100%;
    height: 100%;
    background: url(../img/openBanner.34973f1.png) top/100% 200% no-repeat;
    cursor: url(../img/pointer.ac1efb5.png) 2 2,pointer;
    opacity: 1;
    transition: transform .3s ease-out .3s,opacity .3s ease-out .3s;
}

.openBanner:hover:active {
    cursor: url(../img/press.1c07fcb.png) 2 2,pointer;
}


/*카드 박스체크*/

.card {
  --background: #fff;
    /*선택시 체크박스 테두리색*/
  --background-checkbox: #000;
  --background-image: #fff, rgba(0, 107, 175, 0.2);
  --text-color: #666;
  --text-headline: #000;
    /*선택시 이미지 테두리색*/
  --card-shadow: #000;
  --card-height: 190px;
  --card-width: 190px;
  --card-radius: 12px;
  --header-height: 47px;
  --blend-mode: overlay;
  --transition: 0.15s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card:hover:active {
    cursor: url(../img/press.1c07fcb.png) 2 2,pointer;
}


.card:nth-child(odd) .card__body-cover-image {
  --x-y1: 100% 90%;
  --x-y2: 67% 83%;
  --x-y3: 33% 90%;
  --x-y4: 0% 85%;
}
.card:nth-child(even) .card__body-cover-image {
  --x-y1: 100% 85%;
  --x-y2: 73% 93%;
  --x-y3: 25% 85%;
  --x-y4: 0% 90%;
}
.card__input {
  position: absolute;
  display: block;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
.card__input:checked ~ .card__body {
  --shadow: 0 0 0 3px var(--card-shadow);
}
.card__input:checked ~ .card__body .card__body-cover-checkbox {
  --check-bg: var(--background-checkbox);
  --check-border: #fff;
  --check-scale: 1;
  --check-opacity: 1;
}
.card__input:checked ~ .card__body .card__body-cover-checkbox--svg {
  --stroke-color: #fff;
  --stroke-dashoffset: 0;
}
.card__input:checked ~ .card__body .card__body-cover:after {
  --opacity-bg: 0;
}
.card__input:checked ~ .card__body .card__body-cover-image {
  --filter-bg: grayscale(0);
}
.card__input:disabled ~ .card__body {
  cursor: not-allowed;
  opacity: 0.5;
}
.card__input:disabled ~ .card__body:active {
  --scale: 1;
}
.card__body {
  display: grid;
  grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
  background: var(--background);
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
  transition: transform var(--transition), box-shadow var(--transition);
  transform: scale(var(--scale, 1)) translateZ(0);
}
.card__body:active {
  --scale: 0.96;
}
.card__body-cover {
  --c-border: var(--card-radius) var(--card-radius) 0 0;
  --c-width: 100%;
  --c-height: 100%;
  position: relative;
  overflow: hidden;
}
.card__body-cover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--c-width);
  height: var(--c-height);
  border-radius: var(--c-border);
  background: linear-gradient(to bottom right, var(--background-image));
  mix-blend-mode: var(--blend-mode);
  opacity: var(--opacity-bg, 1);
  transition: opacity var(--transition) linear;
}
.card__body-cover-image {
  width: var(--c-width);
  height: var(--c-height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--c-border);
  /* filter: var(--filter-bg, grayscale(1)); */
  -webkit-clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
          clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
}
.card__body-cover-checkbox {
  background: var(--check-bg, var(--background-checkbox));
  border: 2px solid var(--check-border, #fff);
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: var(--check-opacity, 0);
  transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear;
  transform: scale(var(--check-scale, 0));
}
.card__body-cover-checkbox--svg {
  width: 13px;
  height: 11px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 7px 0 0 5px;
  stroke: var(--stroke-color, #fff);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: var(--stroke-dashoffset, 16px);
  transition: stroke-dashoffset 0.4s ease var(--transition);
}
.card__body-header {
  height: var(--header-height);
  background: var(--background);
  padding: 0 10px 10px 10px;
}
.card__body-header-title {
  color: var(--text-headline);
  font-weight: 700;
  margin-bottom: 8px;
}
.card__body-header-subtitle {
  color: var(--text-color);
  font-weight: 500;
  font-size: 13px;
}

/*모달 카드 적용 부분*/

.chapterNumber {
    position: relative;
    width: 100%;
    height: 45px;
    padding-top: 15px;
    margin-top: 5%;
    font-size: 1.5em;
    text-align: center;
    background: url(../img/taskListChapter.e76bb33.png) 50%/auto 100% no-repeat;
    color: #3e3b2a;
    bottom: 36vw;
}

.chapterHeader {
    width: 100%;
    margin: 10px 0 0;
    text-align: center;
    color: #3e3b2a;
    position: relative;
    bottom: 37vw;
}

.chapterHeader .line1 {
    font-size: 1.25em;
    line-height: 1em;
    letter-spacing: .05em;
}

.chapterHeader .line2 {
    font-family: "Titania", serif;
    font-size: 2.1em;
    line-height: 1em;
}



/*태스크 리스트*/
/*.taskListPrev {*/
/*    position: relative;*/
/*    width: 95%;*/
/*    height: 125px;*/
/*    margin: 30px auto;*/
/*}*/

/*.taskListPrev .edges.edgeL {*/
/*    left: 0;*/
/*}*/

/*.taskListPrev .edges {*/
/*    width: 50%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    background: url(../img/taskPreview.ab35210.png) 0 0/auto 100% no-repeat;*/
/*}*/

/*.taskListPrev .thumbnail.back {*/
/*    top: -5px;*/
/*    left: 29px;*/
/*    transform: rotate(-5deg);*/
/*    background-image: url(../img/rewardBack.71e7bb0.jpg);*/
/*}*/

/*.taskListPrev .thumbnail {*/
/*    width: 100px;*/
/*    height: 135px;*/
/*    position: absolute;*/
/*    background: 50%/cover no-repeat;*/
/*    transition: transform .3s ease-out;*/
/*    box-shadow: -3px 3px 2px rgb(0 0 0 / 30%);*/
/*    border-radius: 7px;*/
/*}*/

/*.taskListPrev .thumbnail.front {*/
/*    top: -5px;*/
/*    left: 40px;*/
/*    transform: rotate(3deg);*/
/*    background-image: url(https://images.prismic.io/netflix-cuphead/546e0216-c57f-426f-be99-0313f71fb334_Thumb1-1.png?auto=compress,format);*/
/*}*/

/*@media (min-width: 600px){*/
/*    .taskListPrev .details {*/
/*    max-width: none;*/
/*}*/
/*    .taskListPrev .header {*/
/*    font-size: 1.5em;*/
/*}*/
/*}*/

/*.taskListPrev .details {*/
/*    width: 50%;*/
/*    max-width: 200px;*/
/*    height: 90%;*/
/*    position: absolute;*/
/*    top: 14%;*/
/*    left: 150px;*/
/*}*/

/*.taskListPrev .subHeader {*/
/*    opacity: .5;*/
/*    font-size: .75em;*/
/*}*/

/*.taskListPrev .header {*/
/*    font-size: 1.2em;*/
/*    line-height: 1em;*/
/*}*/

/*.taskListPrev .buttonRow {*/
/*    position: absolute;*/
/*    bottom: -0.5em;*/
/*    width: 100%;*/
/*    min-width: 170px;*/
/*}*/

/*.taskListPrev .textButton {*/
/*    display: inline-block;*/
/*}*/

/*.textButton.dropShadow {*/
/*    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);*/
/*}*/

/*.textButton {*/
/*    position: relative;*/
/*    border-radius: 20px;*/
/*    padding: 0 15px;*/
/*    border: 1px solid #3e3b2a;*/
/*    background: #f9f7eb;*/
/*    color: #3e3b2a;*/
/*    font-size: 1.2em;*/
/*    letter-spacing: .04em;*/
/*    cursor: url(../img/pointer.ac1efb5.png) 2 2,pointer;*/
/*    overflow: hidden;*/
/*    user-select: none;*/
/*}*/

/*.textButton .slot {*/
/*    padding: 7px 0 3px;*/
/*    line-height: 1.2em;*/
/*    transition: transform .3s ease-out;*/
/*    pointer-events: none;*/
/*}*/

/*.textButton .slotHover {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    transform: translateY(100%);*/
/*    height: 100%;*/
/*}*/

/*.textButton .slot {*/
/*    padding: 7px 0 3px;*/
/*    line-height: 1.2em;*/
/*    transition: transform .3s ease-out;*/
/*    pointer-events: none;*/
/*}*/

/*.taskListPrev .checkbox {*/
/*    position: absolute;*/
/*    top: -7px;*/
/*    right: 11px;*/
/*}*/

/*.checkbox {*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border: 2px solid #3e3b2a;*/
/*    background: #f9f7eb;*/
/*    padding: 5px;*/
/*    position: relative;*/
/*}*/

/*.checkbox .boxInner {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 2px solid #8a8a8a;*/
/*    box-shadow: inset -3px 3px 1px rgb(0 0 0 / 30%);*/
/*}*/


  /*task카드 css 시작*/

      @media (min-width: 600px) {
        .taskCard {
            top: 120px;
            bottom: 0;
            height: auto;
            max-height: 720px;
            left: 50%;
            margin-left: -300px;
            padding: 21px 20px 25px;
            border: none;
            background: url(../img/detailCard.0b5c10e.png) top/100% auto no-repeat;
        }
    }


/*모달 css 시작*/

.modal {
    /* z-index: 0; */
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30vw;
    margin: 100px auto;
     display: none;
}

.modal > img {
    width: 100%;
    height: 100%;
}

.modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }



/*모달 x 버튼*/
.closeBtn {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 4;
}

.graphicButton.sizeSmall {
    width: 32px;
    height: 32px;
}

.graphicButton.solidBack {
    background: #f9f7eb;
}

.graphicButton.colorBlack {
    border-color: #3e3b2a;
}

.graphicButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #f9f7eb;
    cursor: url(../img/pointer.ac1efb5.png) 2 2,pointer;
    transition: border-color .5s,background .5s;
}

.graphicButton:hover:active {
    cursor: url(../img/press.1c07fcb.png) 2 2,pointer;
}

.graphicButton .graphic {
    transform: scale(1.001);
    width: 100%;
    height: 100%;
    transition: transform .1s ease-out;
    pointer-events: none;
}

svg {
    overflow: hidden;
        vertical-align: middle;
}

.graphicButton.colorBlack path {
    fill: #3e3b2a;
}

.graphicButton path {
    fill: #f9f7eb;
    transition: fill .5s;
}

.listbox {
    position: absolute;
    top: 25%;
    left: 12%;
    /*background: url(../img/taskPreview.ab35210.png);*/
    /*background-size: cover;*/
    z-index: 5;
    width: 24vw;
    height: 5vw;
}

.listpicone {
    position: absolute;
    top: -12%;
    left: -5%;
    width: 4vw;
    height: 5vw;
    z-index: 1;
}

.listname {
    padding-top: 3%;
    padding-left: 25%;
}

.listsim {
    padding-top: 1%;
    padding-left: 25%;
}

.listbox2 {
    position: absolute;
    top: 39%;
    left: 12%;
    z-index: 5;
    width: 24vw;
    height: 5vw;
}

.listbox3 {
    position: absolute;
    top: 53%;
    left: 12%;
    z-index: 5;
    width: 24vw;
    height: 5vw;
}

.edges.edgeL {
    left: 0;
}

.edges {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(../img/taskPreview.ab35210.png) 0 0/auto 100% no-repeat;
}

.edges.edgeR {
    left: 50%;
    transform: scaleX(-1);
}

.edges {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(../img/taskPreview.ab35210.png) 0 0/auto 100% no-repeat;
}


/*드래그 앤 드랍 이미지 css*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: #f9f7eb;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: -15% auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
  * cursor: pointer
  * background: #f5f5f5*/
}
.drop .cont {
  width: 13vw;
  color: #8E99A5;
  transition: all 0.5s ease-out;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 200%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 40% 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 20vw;
  border: 1px solid #323a44;
  margin: -60px -52px;
    /*들어간 사진을 사진 크기에 상관없이 가운데에 맞추고 싶은데 잘 모르겠음*/
}

.form {
    width: 100%;
    position: relative;
    top: 13%;
    height: 50px;
    overflow: hidden;
    /*background-color: #f9f7eb;*/
}


.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 0;
    border: none;
    outline: none;
    font-size: 18px;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-140%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus .label-name::after,
.form input:valid + .label-name:after {
    transform: translateX(0%);
}
