{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">

    <title>Title</title>
</head>
<body>

<div id="introLoadingPage" class="">
    <div class="Logo"></div>
    <div class="loadCounter">
        <div class="counterFrame"></div>
        <div class="drums">
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -100%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -700%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -800%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -400%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -100%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -300%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>
                <div class="unitValue">1</div>
                <div class="unitValue">2</div>
                <div class="unitValue">3</div>
                <div class="unitValue">4</div>
                <div class="unitValue">5</div>
                <div class="unitValue">6</div>
                <div class="unitValue">7</div>
                <div class="unitValue">8</div>
                <div class="unitValue">9</div>
            </div>
        </div>
    </div>
    <div class="handyButton btn_loader_continue dropShadow">
        <div class="textBox">
            <div class="textSlot">CONTINUE</div>
            <div class="textSlot">CONTINUE</div>
        </div>
        <div class="hand"></div>
    </div>
    <div class="audioText">
        <svg viewBox="0 0 20 20" class="speakerSVG">
            <path d="M1,6 L4,6 L10,1 L10,19 L4,14 L1,14 Z M14,5 L14,15 M18,2 L18,18" transform="translate(0.5, 0.5)"
                  class="speakerPath"></path>
        </svg>
        <span>Turn up the volume for the best experience</span></div>
</div>
</body>
</html>
