{% extends 'base.html' %}
{% load static %}

{% block others %}
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
    <script defer src="{% static 'js/first.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}

{% block title %}first{% endblock %}

{% block content %}

<div id="introLoadingPage" class="">
    <div class="Logo"></div>
    <div class="loadCounter">
        <div class="counterFrame"></div>
        <div class="drums">
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -100%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -700%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -800%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -400%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -100%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, -300%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>

            </div>
            <div class="soulCounterDrum" style="transform: translate(0px, 0%);">
                <div class="unitValue">0</div>

            </div>
            <p style="position: absolute; top: 35%; left: 11.4%;">0</p>
            <p style="position: absolute; top: 35%; left: 19.5%;">0</p>
            <p style="position: absolute; top: 35%; left: 27.6%;">0</p>
            <p style="position: absolute; top: 35%; left: 35.8%;">5</p>
            <p style="position: absolute; top: 35%; left: 44.3%;">4</p>
            <p style="position: absolute; top: 35%; left: 52.5%;">7</p>
            <p style="position: absolute; top: 35%; left: 61%;">2</p>
            <p style="position: absolute; top: 35%; left: 69.5%;">9</p>
            <p style="position: absolute; top: 35%; left: 77.5%;">1</p>
            <p style="position: absolute; top: 35%; left: 85.8%;">8</p>
        </div>
    </div>
    <div class="handyButton btn_loader_continue dropShadow">

        <a aria-label='Thanks' class='h-button centered' data-text='CONTINUE' href='/intro'>
            <span>C</span>
            <span>O</span>
            <span>N</span>
            <span>T</span>
            <span>I</span>
            <span>N</span>
            <span>U</span>
            <span>E</span>
        </a>

        <div class="hand"></div>
    </div>
    <div class="audioText">
        <svg viewBox="0 0 20 20" class="speakerSVG">
            <path d="M1,6 L4,6 L10,1 L10,19 L4,14 L1,14 Z M14,5 L14,15 M18,2 L18,18" transform="translate(0.5, 0.5)"
                  class="speakerPath"></path>
        </svg>
        <span>Turn up the volume for the best experience</span></div>
</div>
{% endblock %}
