<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="rotateDevice" class="active">
    <div class="message">Resize your window</div>
    <div id="fireBar" class="onFire fast">
        <div class="fireUnit unit1 flipped" style="background-position-y: -200px;"></div>
        <div class="fireUnit unit2" style="background-position-y: 0px;"></div>
        <div class="fireUnit unit3 flipped" style="background-position-y: 0px;"></div>
    </div>
</div>
</body>
</html>