<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/second.css" rel="stylesheet" type="text/css" />
    <script>var sound = "{% static "sounds/sound1.mp3" %}"</script>
    <script>var sound1 = "{% static "sounds/sound2.mp3" %}"</script>
    <script>var sound2 = "{% static "sounds/sound3.mp3" %}"</script>
    <script type="text/javascript" src="../static/js/second.js"></script>
    <title>second_page</title>
</head>
<body>
    <div class="bgimg">
        <div class="logoimg">
            <img src="../static/img/film-2-64.png" style="padding-left: 5vw; padding-right: 32vw; width: 3vw;" onclick="location.href='https://www.youtube.com/embed/Sel3fjl6uyo?autoplay=1&controls=0';">
            <img src="../static/img/logoMain.a263c77.png" style="padding-right: 32vw; width: 20vw;">
            <img src="../static/img/speaker-64.png" style="width: 3vw;">
        </div>
        <div class="litimg">
            <img src="../static/img/bubbleSpeech.3534394.png" style="width: 30vw;">
            <p class="litimg_p">기요미는 나양!</p>
        </div>
        <div class="secondline">
            <div class="cuphead">
                <img src="../static/img/cuphead.84e47a6.png" style="width: 15vw;" onclick="charm(sound)">
                <img src="../static/img/bubbleThought2.953bf19.png" style="width: 15vw; padding-left: 15vw; position: relative; bottom: 15vw;">
                <img src="../static/img/bubbleThought1.6e8107a.png" style="width: 3vw; position: relative; bottom: 15vw;">
                <img src="../static/img/mugman.984aff6.png" style="width: 15vw;" id="btn2" onclick="charm2(sound2)">
                <p class="bubble" onclick="charm1(sound1)">예뿌니도 나양!</p>
            </div>
        </div>
        <div class="thirdline">
            <img src="../static/img/soulCounter.2c16a68.png" style="width: 20vw; padding-left: 40vw; position: relative; bottom: 3vw;">
            <p style="position: absolute; top: 90%; left: 42.7%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 44.35%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 46%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 47.7%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 49.4%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 51.1%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 52.8%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 54.45%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 56.15%; font-weight: bold">0</p>
            <p style="position: absolute; top: 90%; left: 57.8%; font-weight: bold">0</p>
        </div>
        <div class="">
            <img src="../static/img/earth.ae89ec7.png" style="width: 100%;">
        </div>
    </div>
</body>
</html>