<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>

        $('.btn_open_chapter').on('click', () => {
            const img = $('.thumb').src.replace(/^url\(['"](.+)['"]\)/, '$1');
            const key = $('파일이름 설정할 인풋값').val();파일이름설정할인풋값


            const file = files[0];

            let testset = new FormData();

            testset.append('file', file);
            testset.append('img', img);
            testset.append('key', key);

            if (img.length <= 0) {
                alert('이미지를 넣어주세요')
            } else if (key.length <= 0) {
                alert('파일 이름을 입력해주세요.')
            } else {
                sendimage(testset);
                console.log(files[0])
            }

        });



        function sendimage() {
            $.ajax({
                url: "http://localhost:5000/api/vi/nsts",
                data: testset,
                method: "POST",
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert('성공')
                    console.log('성공')
                },
                error: function (request, status, error) {
                    alert(error)
                    console.log('error')
                },
                complete: function () {
                    alert('끝까지 실행완료')
                    console.log('끝까지 실행완료됨.')
                    {#모달창에서 완성화면을 보여줘야함 이 부분 아직 안 만들음.#}
                    location.reload()
                }
            })
        }












        {#샘플용 ajax#}

        async function predict() {
    // 파일의 인풋값을 #file-input에서 받아서 저장
    let fileInput = $('#file-input')[0].files[0]
    // form_data를 생성
    let form_data = new FormData();
    // append로 붙여서 전송 준비 키값은 file_give
    await form_data.append("file_give", fileInput)

    $.ajax({
        type: "POST",
        url: "/api/predict",
        // url 값이 같은 곳과 POST ajax 통신
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        // data, cache, contentType, processData 설정 중요
        success: function (response) {
            // 서버에서 json으로 보내준 값을 response['']로 받아줌
            let pred = response['pred']
            let yourpoke = parseFloat(response['pokeclass'][1])



            console.log(yourpoke)
            console.log("클라이ㅇㅇㅇ언트")
            console.log(pred)




    </script>
</body>
</html>