<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

{% block others %}
    <link rel="stylesheet" href="{% static 'css/testmain.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <title>CupHead OilPaint</title>
</head>
<body>
    <div class="__layout">
        <div id="backdrop">
                <div id="backImageMenu" style="display: none;"></div>
                <div id="backImageCarousel" style="background-position: 0% 0%;"></div>
        </div>

        <div class="logoimg">
            <img src="../static/img/film-2-64.png" style="padding-left: 5vw; padding-right: 32vw; width: 3vw;" onclick="">
            <img src="../static/img/logoMain.a263c77.png" style="padding-right: 32vw; width: 20vw;">
            <img src="../static/img/speaker-64.png" style="width: 3vw;" onclick="">
        </div>




<div class="container">
        <div class="button" onclick="shiftLeft()"><img src="https://image.ibb.co/mRsEb7/left_arrow.png" alt=""></div>
        <div class="cards-wrapper">
            <ul class="cards__container">
                <li class="box" style="background-color:red">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/char1-sad.72a2aee.png"/>
                </div>
                </li>
                <li class="box">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/char2-sad.a575e28.png"/>
                </div>
                </li>
                <li class="box">
                <div class="chapterCard">
                    <img  class="card-img" src="../static/img/char4-sad.ae31702.png"/>
                </div>
                </li>
                <li class="box">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/char5-sad.331d3e5.png"/>
                </div>
                </li>
                <li class="box">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/char6-sad.20f7565.png"/>
                </div>
                </li>
                <li class="box box--hide">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/cuphead.84e47a6.png"/>
                </div>
                </li>
                <li class="box box--hide">
                    <div class="chapterCard">
                    <img  class="card-img" src="../static/img/cupheadJump.6fb4db5.png"/>
                </div>
                </li>
            </ul>
        </div>
        <div class="button" onclick="shiftRight()"><img src="https://image.ibb.co/dfPSw7/right_arrow.png" alt=""></div>
    </div>






        <div id="bottomEarth">

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
</body>
</html>