<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>

        $('.btn_open_chapter').on('click', () => {
            const img = $('이미지 넣을 공간... 인자...').여튼이미지를가져올거임           !@$!%!%@!#Y$@!#%#$@%#*&^!#%^@%#&
            const key = $('파일이름 설정할 인풋값').val();파일이름설정할인풋값


            const file = files[0];

            let testset = new FormData();

            testset.append('file', file);
            testset.append('img', img);
            testset.append('key', key);

            if (img.length <= 0) {
                alert('이미지를 넣어주세요')
            } else if (key.length <= 0) {
                alert('파일 이름을 입력해주세요.')
            } else {
                sendimage(testset);
                console.log(files[0])
            }

        });



        function sendimage() {
            $.ajax({
                url: "http://localhost:5000/api/vi/nsts",
                data: testset,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data) {
                    alert('성공')
                    console.log('성공')
                },
                error: function (request, status, error) {
                    alert(error)
                    console.log('error')
                },
                complete: function () {
                    alert('끝까지 실행완료')
                    console.log('끝까지 실행완료됨.')
                    {#모달창에서 완성화면을 보여줘야함 이 부분 아직 안 만들음.#}
                    location.reload()
                }
            })
        }
    </script>
</body>
</html>